@{
    ViewBag.Title = "Local Events";
}

<div class="text-center mt-5">
    <h2 class="text-secondary">Local Events & Announcements</h2>
    <p class="lead">This feature will be available soon.</p>
</div>
